@model web.Models.AppUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div style="width:120px; height:120px; text-align:center;">
                @{
                    string imgSrc = "";
                    if(Model.profilePic != null && !Model.profilePic.Equals("")){
                        imgSrc = "userFiles/" + Model.Id + "/" + Model.profilePic;
                    }else{
                        imgSrc = "images/avatar.webp";
                    }
                }
                <img src="~/@imgSrc" style="max-width:100%; max-height:100%; height:auto; object-fit: cover;">
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

